<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" [routerLink]="['/home']">Class Catch</a>
        <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar"></span>
          <span class="navbar-toggler-bar"></span>
          <span class="navbar-toggler-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
          <!-- Show these items if not logged in -->
          <ng-container *ngIf="!isLoggedIn()">
            <li class="nav-item">
              <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                <i class="fa fa-twitter"></i>
                <p class="d-lg-none">Twitter</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                <i class="fa fa-facebook-square"></i>
                <p class="d-lg-none">Facebook</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                <i class="fa fa-instagram"></i>
                <p class="d-lg-none">Instagram</p>
              </a>
            </li>
            <li class="nav-item">
              <a (click)="redirectToSignin()" class="btn btn-danger btn-round">Sign In</a>
            </li>
          </ng-container>
  
          <!-- Show this item if logged in and is a student -->
          <ng-container *ngIf="isLoggedIn() && isStudent()">
            <li class="nav-item">
              <a class="nav-link" rel="tooltip" title="Bookings" [routerLink]="['/booking-tutor']" fragment="bookings">
                <i class="nc-icon nc-ruler-pencil" aria-hidden="true"></i>
                <p class="d-lg-none">Bookings</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" rel="tooltip" title="User Profile" [routerLink]="['/user-profile']">
                <i class="nc-icon nc-single-02" aria-hidden="true"></i>
                <p class="d-lg-none">User Profile</p>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Settings" [routerLink]="['/student-settings']">
                  <i class="nc-icon nc-settings-gear-65" aria-hidden="true"></i>
                  <p class="d-lg-none">Settings</p>
                </a>
            </li>
          </ng-container>
  
          <!-- Show these items if logged in (visible to all logged-in users) -->
          <ng-container *ngIf="isLoggedIn()">
            <li class="nav-item" rel="tooltip" title="Sign Out">
              <a (click)="signinOut()" class="btn btn-danger btn-round">Sign Out</a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
  